.board {
    padding: 24px;
    display: grid;
    gap: 50px;
    flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    &-column {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &-title {
        display: flex;
        gap: 12px;
        align-items: center;

        &-icon {
            width: 15px;
            height: 15px;
            border-radius: 50%;

            &.Todo {
                background-color: #49c4e5;
            }
            &.Doing {
                background-color: #8471f2;
            }
            &.Done {
                background-color: #67e2ae;
            }
        }
    }
}
