.navbar {
    background-color: var(--bg-gray);
    padding: 30px;
    border-bottom: 1px solid var(--bg-lines);
    display: flex;
    align-items: center;

    &-logo-container {
        width: 100%;
        max-width: 280px;

        h1 {
            color: var(--text-lines);
            font-size: 36px;
        }
    }

    &-heading {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 4px;

        &-chevron {
            display: none;
        }
    }

    button {
        background-color: var(--primary);
        border: none;
        color: var(--text);
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 999px;
    }

    @media screen and (max-width: 1000px) {
        padding: 10px 24px;

        &-logo-container {
            display: none;
        }

        &-heading-chevron {
            display: block;
        }

        h2 {
            font-size: 20px;
        }

        button {
            padding: 6px 12px;
            font-size: 12px;
        }
    }
}
